
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.TitleCSS3 Inventario De Repuestos Web</title>

    <link href="~/Content/myPlantilla.css" rel="stylesheet" />

</head>

<body>


    <h1>Inventario De Repuestos Web</h1>
 
    <div id="main">

        <ul id="navigationMenu">
            <li>
                <a class="services" href="~/Alternadores/Index">
                    <span>Alternadores</span>
                </a>
            </li>

            <li>
                <a class="services" href="~/Radiadores/Index">
                    <span>Radiadores</span>
                </a>
            </li>

            <li>
                <a class="services" href="~/Luces/Index">
                    <span>Luces</span>
                </a>
            </li>

            <li>
                <a class="services" href="~/Frenos/Index">
                    <span>Frenos</span>
                </a>
            </li>

            <li>
                <a class="services" href="~/Encendidoes/Index">
                    <span>Encendido</span>
                </a>
            </li>
            <li>
                <a class="services" href="~/Direccions/Index">
                    <span>Direccion</span>
                </a>
            <li>
                <a class="services" href="~/Suspencions/Index">
                    <span>Suspencion</span>
                </a>
            </li>
            
        </ul>

    </div>


    <p class="note">Fernando Alejandro Peñate Mejia</p>

</body>
</html>


