
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.TitleCSS3 Inventario De Repuestos</title>

    <link href="~/Content/myPlantilla.css" rel="stylesheet" />

</head>

<body>
    

    <h1>Inventario De Repuestos</h1>
    <h2>Elija una Categoria</h2>

    <div id="main">

        <ul id="navigationMenu">
            <li>
                <a class="home" href="~/Menu/Repuestos">
                    <span>Piezas de Repuesto</span>
                </a>
            </li>

            <li>
                <a class="about" href="~/Menu/Mantenimiento">
                    <span>Mantenimiento</span>
                </a>
            </li>

            <li>
                <a class="services" href="#">
                    <span>Accesorios Interior</span>
                </a>
            </li>

            <li>
                <a class="portfolio" href="#">
                    <span>Accesorios Exterior</span>
                </a>
            </li>

            <li>
                <a class="contact" href="#">
                    <span>Contactanos</span>
                </a>
            </li>
            <li>
                <a class="about" href="#">
                    <span>Marcas</span>
                </a>
            </li>

            <li>
            </li>
        </ul>

    </div>
    
</body>
</html>


