
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.TitleCSS3 Inventario De Repuestos Web</title>

    <link href="~/Content/myPlantilla.css" rel="stylesheet" />

</head>

<body>


    <h1>Menu Mantenimiento</h1>

    <div id="main">

        <ul id="navigationMenu">
            <li>
                <a class="about1" href="#">
                    <span>Filtro De Aire</span>
                </a>
            </li>

            <li>
                <a class="about1" href="#">
                    <span>Fajas y Mangueras</span>
                </a>
            </li>

            <li>
                <a class="about1" href="#">
                    <span>Filtro de Gasolina</span>
                </a>
            </li>

            <li>
                <a class="about1" href="#">
                    <span>Filtro de Aceite</span>
                </a>
            </li>

            <li>
                <a class="about1" href="#">
                    <span>Bujias</span>
                </a>
            </li>
            <li>
                <a class="about1" href="#">
                    <span>Direccion</span>
                </a>
            <li>
                <a class="about1" href="#">
                    <span>Termostato</span>
                </a>
            </li>

        </ul>

    </div>


    <p class="note">Fernando Alejandro Peñate Mejia</p>

</body>
</html>


