@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mi Inventario Web</h1>
    <p><a href="~/Menu/Index" class="btn btn-primary btn-lg">Menu &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
       
    </div>
    <div class="col-md-4">
     
    </div>
    <div class="col-md-4">
       
        <a class="btn-default" href="/Home/Index"><h2>Menu</h2></a>
    </div>
</div>